stages:
  - build

job_build:
  stage: build
  script:
    - cat /etc/debian_version
    - apt-get update
    - apt-get install -y unzip cmake
    - ./scripts/build-deps-linux.sh
    - ./scripts/build.sh
    - cd build
    - make test

